################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio / .NET build output
bin/
obj/
*.user
*.suo
.vs/

# Specific target framework folders (optional, usually redundant because of bin/ & obj/)
JsonToCsv/bin/
JsonToCsv/obj/
Tests/bin/
Tests/obj/